.logout-page {
  font-size: 1.6rem;
  color: white;
  width: 100%;
  min-height: 100vh;
  background-color: #0d0f12;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.logout-box {
  background-color: #111214;
  padding: 3rem 4rem;
  border-radius: 1rem;
  text-align: center;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
}

.logout-title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3rem;
  margin-bottom: 1.5rem;
  color: #dddddd;
}

.logout-message {
  font-size: 1.4rem;
  margin-bottom: 2rem;
  color: #faf8f8;
}

.logout-link {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #f39c12;
  color: #0d0f12;
  font-weight: bold;
  text-decoration: none;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}

.logout-link:hover {
  background-color: #e08e0b;
}
